<div class="card shadow-sm rounded-4 bg-white">
  <div class="card-body">
    <div #chatBox class="chat-box">
      @for (message of messages(); track $index) { @if (message.role === 'bot')
      {
      <div class="d-flex justify-content-start p-2">
        <div class="message card text-bg-secondary">
          <div class="card-body p-4">
            <p class="card-text">{{ message.content }}</p>
          </div>
        </div>
      </div>
      } @if (message.role === 'user') {
      <div class="d-flex justify-content-end p-2">
        <div class="message user-message card text-bg-primary">
          <div class="card-body p-4">
            <p class="card-text">{{ message.content }}</p>
          </div>
        </div>
      </div>
      } } @if (loading()) {
      <div #loadingMessage class="d-flex justify-content-start p-2">
        <div class="message card text-bg-secondary">
          <div class="card-body p-4">
            <p class="card-text">
              <span
                class="spinner-grow spinner-grow-sm"
                aria-hidden="true"
              ></span>
              Thinking...
            </p>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
